<% layout("/layouts/boilerplate.ejs") %>
  <body>
    <div class="row">
      <div class="col-8 offset-2">
      <br/><br/>
    <h3>Edit your Listing</h3>
    <form class="mb-3"
     method="POST"
      action="/listings/<%= listing._id %>?_method=PUT" 
      novalidate
       class="needs-validation"
       enctype="multipart/form-data">

      <div class="mb-3">
            <label for="title" class="form-label">Title</label> 
          <input name="listing[title]" value="<%= listing.title %>" type="text"  class="form-control" required/>
          <div class="valid-feedback">Title looks good!</div>
         
      </div>
      
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %> </textarea>
          <div class="invalid-feedback">Please enter a short description </div>
      </div>
      
    
      
      <div class="mb-3 medium-listing-card" style="width: 15rem;">
        <div class="card-body">
          <p class="card-text">Original Listing Image</p>
      </div>
        <div class="card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing Image">
          
        </div>
    </div>
    
   
    <div class="mb-3 ">
      <label for="image" class="form-label">Upload New Image</label>
      <input name="listing[image]" 
      type="file" 
        class="form-control"  />
      
    </div>
    <div class="row">
    <div class="mb-3 col-md-3">
      <label for="price" class="form-label">Price</label>
      <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required  />
    </div>
    <div class="mb-3 col-md-6">
    <label for="country" class="form-label">Country</label>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text" class="form-control" required
      />
    </div>
  </div>
    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text" required
      />
      </div>
      
      <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
    </div>
    </div>
 
  

